[submodule "EthaneEngine/vendor/spdlog"]
	path = EthaneEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "EthaneEngine/vendor/GLFW"]
	path = EthaneEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "EthaneEngine/vendor/imgui"]
	path = EthaneEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
